@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Roboto:300,400,500,700,900&amp;display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}  

.headerItemHover:hover{
    filter: brightness(0) saturate(100%) invert(77%) sepia(90%) saturate(551%) hue-rotate(357deg) brightness(102%) contrast(105%);
    transform: scale(1.2);
    color:white;
}

.notificationHover:hover{
    transform: scale(1.2);
}

.buttonStyle{
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border-color: white;
    color: white;
    margin: 3vh;
    cursor:pointer;
    background-color: #28282B;
}

.cardButtonStyle{
    position: absolute;
    top:80%;
    left: 20%;
    width:60%;
    padding: 1vh;
    background-color:white;
    color:#28282B;
    opacity:80%;
    border-color:white;
    cursor:pointer;
    border-radius: 5px;
}

