.centerFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.headingStyle{
    margin-top:5vh;
    margin-bottom:5vh;
    text-align:center;
    color: #28282B;
    font-size: 50px;
}